/* Imports */
/* Icons */

@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* General Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: #72501a;
  background: var(--color-primary);
}

a {
  display: inline-block;
  color: #000;
  transition: all 300ms ease-in-out;
}

a:hover,
a.active {
  color: var(--color-primary);
}

i[class^="bx"] {
  vertical-align: middle;
}

ul,
address {
  margin-bottom: 0;
}

.imgFluid {
  max-width: 100%;
}

.primary-color {
  color: var(--color-primary);
}
body {
  overflow-x: hidden;
}

.section-content .subHeading {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 0.75rem;
}

.section-content .heading {
  font-size: 3.25rem;
  line-height: 1.1;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-weight: bold;
}

.section-content p {
  color: #666;
  line-height: 2;
}

.section-content span {
  font-weight: 800;
  text-transform: uppercase;
}

.themeBtn {
  width: fit-content;
  display: block;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  border: 2px solid #000;
  padding: 0.75rem 2rem;
  margin: 0.25rem 0;
  transition: all 300ms ease-in-out;
}

.themeBtn--full {
  width: 100%;
}

.themeBtn--center {
  margin: 0.25rem auto;
}

.themeBtn:hover {
  color: #fff;
  background: var(--color-primary);
  border-color: #fff;
  transform: translateY(-5px);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.top-bar-left ul {
  display: flex;
  gap: 10px;
}

section.header_top {
  background: black;
  color: white;
}

section.header_top {
  border-color: rgba(58, 77, 105, 1);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.top-bar-left ul li {
  font-size: 14px;
}

.top-bar-left ul li i {
  font-size: 8px;
  color: grey;
  font-weight: lighter;
}

.top-bar-left ul li:nth-child(1) {
  border-right: 1px solid #404040;
  padding: 13px 10px 13px 10px;
  border-left: 1px solid #404040;
  cursor: pointer;
}

.top-bar-left ul li:nth-child(2) {
  border-right: 1px solid #404040;
  padding: 13px 10px 13px 0px;
}

.top-bar-left ul li:nth-child(3) {
  padding: 13px 10px 0px 0px;
}

.top-bar-right ul {
  display: flex;
  justify-content: right;
}

.top-bar-right ul li {
  padding: 10px 10px 10px 0px;
}

.top-bar-right {
  display: flex;
  justify-content: right;
}

.top-bar_btn a {
  color: white;
  font-size: 12px;
}

.top-bar-right a:nth-child(1) {
  border-right: 1px solid #404040;
  padding: 13px 10px 13px 10px;
  border-left: 1px solid #404040;
}

.top-bar-right a:nth-child(2) {
  border-right: 1px solid #404040;
  padding: 13px 10px 13px 0px;
}

ul.drop__down {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
  color: #9d9d9d;
  opacity: 0;
  transition: all 0.6s ease;
  gap: 0;
  visibility: visible;
  top: 57px;
  z-index: 1;
}
ul.drop__down li:hover {
  background: black;
  color: #fff;
}

ul.drop__down li:hover a {
  color: white;
}

ul.drop__down li a {
  color: #7a7a7a;
  font-weight: 600;
  padding: 0px 30px 8px 20px;
}

ul.drop__down li:nth-child(1) a {
  padding-left: 23px;
}

ul.drop__down li {
  padding: 10px 0 6px 0px !important;
  border: 0px !important;
  margin: 0 !important;
  transition: all .6s ease;
}

.top-bar-left ul li:nth-child(1):hover ul.drop__down {
  opacity: 1;
  visibility: visible;
  top: 45px;
}

.top-bar-left ul li:nth-child(2):hover ul.drop__down {
  opacity: 1;
  visibility: visible;
  top: 45px;
} 
.nav_item ul li:nth-child(4):hover ul.drop__down {
    opacity: 1;
    visibility: visible;
    top: 48px;
  } 

.top-bar-right ul li i:hover {
  color: #aba8a8;
  transition: all 0.6s ease;
}

.top-bar_btn a:hover {
  color: #aba8a8;
  transition: all 0.6s ease;
}

section.header {
  background: black;
  color: white;
  padding: 10px 0px 10px 0px;
}

.header_logo img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.search_bar input {
  width: 100%;
  height: 50px;
  position: relative;
  border-radius: 30px;
  border: none;
}
.search_bar input:focus {
  outline: none;
}
.search_bar input[placeholder] {
  font-size: 14px;
  padding-left: 20px;
}

.search_bar {
  align-items: center;
  height: 100%;
  display: flex;
}

.search_bar select:focus {
  outline: none;
}
.search_bar select {
  position: absolute;
  width: 30%;
  padding: 10px 10px 11px 10px;
  right: 70px;
  border: 1px solid #8080805c;
}

select option {
  font-size: 14px;
  color: #898686;
}

.search_bar a {
  position: absolute;
  color: white;
  background: #9b7536;
  height: 48px;
  width: 8%;
  line-height: 46px;
  font-size: 25px;
  text-align: center;
  right: 16px;
  border-radius: 0px 30px 30px 0px;
}

.login_btn a {
  color: white;
  font-size: 14px;
}

.login_btn {
  display: flex;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
}

.header_logo {
  width: 100%;
  height: 100px;
}

span.badge {
  position: absolute;
  height: 18px;
  width: 6%;
  right: 102px;
  top: 32px;
  text-align: center;
  font-size: 12px;
  background-color: #9b7536;
  border-radius: 100%;
}

span.badge_cart {
  position: absolute;
  height: 18px;
  width: 6%;
  right: 68px;
  top: 32px;
  text-align: center;
  font-size: 12px;
  background-color: #9b7536;
  border-radius: 100%;
}

.login_btn a:hover {
  color: #ababa9;
  transition: all 0.3s ease;
}

.login_btn span:hover {
  color: #a7a7a7;
  transition: all 0.3s ease;
}

.nav_item {
  background-color: #fff;
}

.nav_item ul li:nth-child(1) {
  border-right: 1px solid #c9c8c8;
  border-left: 1px solid #c7c6c6;
  padding: 12px 10px 13px 10px;
}

.nav_item ul li i {
  font-size: 17px;
  margin-right: 10px;
  color: #4e4e4e;
}

.nav_item ul li i {
  font-size: 17px;
  margin-right: 10px;
  color: #4e4e4e;
}

.nav_item ul li i + i {
  margin-left: 50px;
  font-size: 13px;
}

.nav_item ul li {
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
}

.nav_item ul {
  display: flex;
  align-items: center;
}

.nav_item ul li:nth-child(2) a {
  font-size: 16px;
  font-weight: 500;
}

.nav_item ul li:nth-child(3) a {
  font-size: 16px;
  font-weight: 500;
}

.nav_item ul li:nth-child(4) a {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.nav_item ul li:nth-child(5) a {
  font-size: 16px;
  font-weight: 500;
}

.nav_item ul li a i {
  font-size: 10px;
}

.navbar_end {
  display: flex;
  justify-content: right;
  height: 100%;
  align-items: center;
}

.navbar_end a {
  color: #9b7536;
  font-size: 16px;
}

.banner_img {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner_img img {
  width: 120%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner_img_txt {
  position: absolute;
  color: white;
  background: transparent;
  top: 30%;
  width: 100%;
  height: fit-content;
  text-align: center;
  right: 0;
  transition: all .6s ease;
  -webkit-animation: mymove 2s ease 0.5s infinite;
  animation: mymove 2s ease 0.5s infinite;
}

@keyframes mymove {
  0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }

  50% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
  }

  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.section.banner_slider .slick-slide {
  margin-right: 0 !important;
}

.section.banner_slider .slick-slide {
  margin: 0 !important;
  width: 100% !important;
}

.banner_slider button.slick-prev.slick-arrow {
  position: absolute;
  background: transparent;
  top: 50%;
  left: 1%;
}

.banner_slider button.slick-next.slick-arrow {
  position: absolute;
  background: transparent;
  top: 50%;
  right: 1%;
}

.bannner_btn a:nth-child(1) {
  border: 2px solid #9b7536;
  border-radius: 80px;
  padding: 10px 20px;
  font-size: 13px;
  color: white;
  font-weight: 500;
  background-color: #9b7536;
}

.bannner_btn a:nth-child(2) {
  color: white;
  border: 2px solid gray;
  border-radius: 80px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  margin-left: 20px;
}

.bannner_btn {
  padding: 40px 0 0px 0px;
}

.banner_img_txt h1 {
  font-size: 48px;
  font-weight: 500;
}

.banner_img_txt p {
  color: #9b7536;
  font-weight: 500;
}

.bannner_btn a:hover {
  border-color: white;
}

.bannner_btn a:hover:nth-child(1) {
  background-color: transparent;
  border-color: #916929;
}

button.slick-next.slick-arrow {
  position: absolute;
  background: transparent;
}

button.slick-prev.slick-arrow {
  position: absolute;
  background: transparent;
}

button.slick-prev.slick-arrow:before {
  position: absolute;
  content: "\f053";
  font-family: "FontAwesome";
  left: 8px;
  top: 10px;
  font-size: 30px;
}

button.slick-next.slick-arrow:before {
  position: absolute;
  content: "\f054";
  font-family: "FontAwesome";
  left: 12px;
  top: 9px;
  font-size: 30px;
}

.banner_slider ul.slick-dots {
  position: absolute !important;
  bottom: 0;
  align-items: center;
  height: 80px !important;
  z-index: 9999;
  display: flex;
  justify-content: center;
  gap: 36px;
}

.banner_slider ul.slick-dots li button {
  background: white;
  height: 3px !important;
  transition: all 0.6s ease;
  width: 20px;
  position: relative;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border-radius: 0 0 50px 50px;
}

.banner_slider ul.slick-dots li:nth-child(1) button:before {
  content: "01";
  position: absolute;
  color: white;
  font-size: 18px;
  left: -20px;
  top: -9px;
}

.banner_slider ul.slick-dots li .slick-active button {
  width: 100px !important;
}

.banner_slider ul.slick-dots li:nth-child(2) button:before {
  content: "02";
  position: absolute;
  color: white;
  font-size: 18px;
  left: -20px;
  top: -9px;
}

.banner_slider ul.slick-dots li:nth-child(3) button:before {
  content: "03";
  position: absolute;
  color: white;
  font-size: 18px;
  left: -20px;
  top: -9px;
}

.banner_slider ul.slick-dots li.slick-active button {
  width: 40px;
  transition: all 0.6s ease;
}

/* .top-cat ul {
  display: flex;
  height: 100%;
  justify-content: center;
} */

.top_categories h3 {
  font-size: 22px;
  position: relative;
  font-weight: 600;
  padding: 10px 0px 24px 72px;
}

.top_categories h3::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 90%;
  background: #dddddd;
  bottom: 12px;
}

.top_categories h3::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 185px;
  background: #9b7536;
  left: 72px;
  top: 47px;
}

.top-cat h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  padding: 17px 0px 0px 0px;
}

.top-cat p {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: gray;
}

section.top_categories {
  background-color: #f7f7f7;
  padding: 15px 0px 15px 0px;
}

.top-cat  img:hover {
  transform: scale(1.1);
}

.top-cat  img {
  transition: all 0.4s ease;
}

.product-content img {
  width: 100%;
  padding: 20px 0px 20px 0px;
  transition: all 0.6s ease;
}

.sale_product {
  border: 2px solid #9b7536;
  padding: 30px;
}

section.Products {
  padding: 50px 0px 50px 0px;
}

.sale_product h1 {
  font-size: 25px;
  font-weight: 500;
}

.product-content h5 {
  font-size: 15px;
  color: black;
  font-weight: 500;
  text-align: center;
  background: white;
  position: relative;
  z-index: 9999999;
}

.product-content p {
  font-size: 15px;
  color: grey;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin: 0 auto;
  z-index: 999;
}

.product-content span {
  font-size: 15px;
  font-weight: 600;
  color: #9b7536;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}

.product-content {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.sale_product_slider button.slick-prev.slick-arrow:before {
  position: absolute;
  content: "\f053";
  font-family: "FontAwesome";
  color: #000;
  font-size: 25px;
  top: 35px;
}

.sale_product_slider button.slick-next.slick-arrow:before {
  position: absolute;
  content: "\f054";
  font-family: "FontAwesome";
  top: 35px;
  font-size: 25px;
  color: black;
  left: 40px;
}

img.sale_hover_img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0, 0.35);
}

.product-content:hover img.sale_hover_img {
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
}

.product-content:hover .product_content_img {
  opacity: 0;
  visibility: hidden;
}

.product_cart {
  position: absolute;
  top: 30px;
  transition: all 0.6s ease;
  right: -75px;
  display: flex;
  z-index: 999999;
  gap: 10px;
  box-shadow: 0 0 7px #0000008c;
  padding: 8px 15px 8px 15px;
  flex-direction: column;
}

.product_cart span {
  color: black;
  background-color: white;
  font-size: 19px;
}
/* .product-content:hover .product_cart{
    opacity: 0;
    visibility: hidden;
  } */

.product-content:hover .product_cart {
  right: 5px;
  opacity: 1;
  z-index: 999;
  visibility: visible;
}

.wrapp-swatches {
  position: absolute;
  bottom: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  visibility: hidden;
  height: 45px;
  font-size: 23px;
  transition: all 0.6s ease;
  justify-content: flex-end;
  border-top: 1px solid #0000001c;
  border-bottom: 1px solid #0000001c;
  background-color: white;
}

.product-content:hover .wrapp-swatches {
  visibility: visible;
  opacity: 1;
  bottom: 73px;
  z-index: 999;
}

.special_offer h3 {
  font-size: 24px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  padding: 8px 0px 24px 0px;
}

.special_offer::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 96%;
  background: #dddddd;
  top: 45px;
}

.special_offer::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 185px;
  background: #f4a531;
  top: 45px;
  left: 15px;
}

ul.tabs-custom-nav {
  width: 80%;
}

.service_tab {
  display: inline-block;
  width: 60%;
  padding: 0px 0px 0px 30px;
}

.service_tab ul {
  display: flex;
  gap: 20px;
}

a.current {
  color: #f4a531;
}

ul.tabs-custom-nav li a {
  font-weight: 500;
}

ul.tabs-custom-nav li a:hover {
  color: #f4a531;
}

.new_products {
  text-align: center;
  position: relative;
  overflow: hidden;
}

img.new_product_img {
  width: 100%;
}

img.new_img_hover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0, 0.35);
}

.new_products h5 {
  font-size: 13px;
  padding: 15px 0px 0px 0px;
  font-weight: 500;
  position: relative;
  z-index: 9999999;
  background: white;
  color: #333333;
}

.new_products p {
  font-size: 12px;
  font-weight: 500;
  position: relative;
  background: white;
  z-index: 999;
  color: grey;
  margin: 0 auto;
}

.new_products span {
  font-size: 14px;
  color: #9b7536;
  position: relative;
  z-index: 999;
  background: white;
  font-weight: 600;
}

.new_products {
  padding-bottom: 20px;
}

.new_products:hover .new_product_img {
  opacity: 0;
  visibility: hidden;
}

.new_products:hover .new_img_hover {
  visibility: visible;
  opacity: 1;
  width: 100%;
  transform: scale(1.1);
}

.new_carts span {
  color: #555;
  padding: 4px 25px 0px 25px;
  font-size: 25px;
  border-right: 1px solid #00000066;
}

.new_carts {
  background: white;
  padding-top: 50px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease;
}

.new_products:hover .new_carts {
  visibility: visible;
  opacity: 1;
  padding-top: 0px;
  z-index: 999;
  height: 100%;
}

.wrapp_swatches {
  position: absolute;
  bottom: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  visibility: hidden;
  height: 35px;
  font-size: 23px;
  transition: all 0.6s ease;
  justify-content: flex-end;
  border-top: 1px solid #0000001c;
  border-bottom: 1px solid #0000001c;
  background-color: white;
}

.new_products:hover .wrapp_swatches {
  visibility: visible;
  opacity: 1;
  bottom: 101px;
  z-index: 999;
}

.hotspot_img img {
  width: 100%;
}

img.popular_slider_img {
  width: 100%;
  padding: 0px 25px 0px 25px;
  transform: scale(1);
}

.pro__Slider {
  position: relative;
}

img.popular_img_hover {
  width: 76%;
  left: 10%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.popular_product {
  text-align: center;
  background: rgb(249 247 247);
  padding: 0px 0px 20px 0px;
}

.popular_product h3 {
  font-size: 28px;
  font-weight: 600;
  padding: 68px 0px 0px 0px;
}

.popular_product h6 {
  font-size: 15px;
  font-weight: 500;
  padding: 5px 0px 0px 0px;
  color: #777777;
}

.popular_product h5 {
  color: #363535;
  font-size: 18px;
  padding: 6px 0px 6px 0px;
  position: relative;
  z-index: 9999999;
  height: 38px;
  margin: 0;
  background: rgb(249 247 247);
}

.popular_product p {
  color: #a5a5a5;
  font-size: 13px;
  position: relative;
  z-index: 9999999;
  background: rgb(249 247 247);
  margin: 0;
}

.pro__Slider span {
  font-size: 14px;
  color: #9b7536;
  font-weight: 500;
  cursor: pointer;
}

.pro__Slidern h5 {
  position: absolute;
  z-index: 9999999;
  background-color: white;
}

.pro__Slider:hover .popular_slider_img {
  visibility: hidden;
  opacity: 0;
  transform: scale(1.1);
}

.pro__Slider:hover img.popular_img_hover {
  visibility: visible;
  opacity: 1;
  top: 0;
  transition: all 0.6s ease;
  transform: scale(1.1);
}

.new_cart {
  background: white;
  color: black;
  position: absolute;
  width: 230px;
  visibility: visible;
  bottom: 30px;
  left: 20%;
  opacity: 1;
  padding: 12px 40px 12px 40px;
  transition: all 0.6s ease;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}

.pro__Slider:hover .new_cart {
  visibility: visible;
  opacity: 1;
  justify-content: center;
  bottom: 120px;
  padding: 12px 40px 12px 40px;
  background-color: white;
  box-shadow: 0px 0px 16px #0000004d;
}

.new_cart span i {
  font-size: 25px;
  color: black;
}

.popular_slider button.slick-prev.slick-arrow {
  position: absolute;
  background: transparent;
  top: 30%;
  left: -20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease;
}

.popular_slider button.slick-prev.slick-arrow:before {
  position: absolute;
  content: "\f053";
  font-family: "FontAwesome";
  left: 0%;
  top: 50%;
  color: black;
  font-size: 30px;
}

.popular_slider button.slick-next.slick-arrow {
  position: absolute;
  top: 30%;
  right: -20px;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease;
}

.popular_slider button.slick-next.slick-arrow:before {
  position: absolute;
  content: "\f054";
  font-family: "FontAwesome";
  right: 0%;
  color: black;
  top: 50%;
  font-size: 30px;
}

.popular_slider:hover button.slick-prev.slick-arrow {
  visibility: visible;
  opacity: 1;
  left: 5%;
  top: 30%;
  color: black;
}

.popular_slider:hover button.slick-next.slick-arrow {
  visibility: visible;
  opacity: 1;
  right: 5%;
  top: 30%;
  color: black;
}

.hotspot_img {
  position: relative;
}

.hotspot_btn {
  position: absolute;
  top: 20%;
  left: 20%;
  cursor: pointer;
  transition: all 0.6s ease;
}

.hotspot_btn::before {
  content: "";
  position: absolute;
  height: 20px;
  border-radius: 100%;
  width: 20px;
  top: 57px;
  left: 19px;
  background: #9b7536;
}

.hotspot_btn::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 63px;
  left: 25px;
  background: white;
}

.hotspot_content {
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: white;
  width: 29%;
  padding: 8px;
  box-shadow: 0px 0px 11px 2px #0000004f;
  height: 70%;
  text-align: center;
  cursor: pointer;
  display: none;
  bottom: 20px;
  transition: all 0.6s ease;
}

.hotspot_content img {
  width: 100%;
  padding: 9px;
}

.hotspot_content h3 {
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  line-height: 2;
}

.hotspot_content span {
  font-size: 15px;
  color: #9b7536;
  font-weight: 600;
}

.hotspot_content p {
  font-size: 12px;
  font-weight: 400;
  color: #767676;
  line-height: 1.77;
}

.hotspot_content a {
  padding: 12px 12px 12px 12px;
  border-radius: 32px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: rgb(244, 165, 28);
}

.hotspot_btn:hover + .hotspot_content01 {
  display: block;
  transition: all 0.6s ease;
  cursor: pointer;
  z-index: 999;
}

.hotspot_content01 {
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: white;
  width: 29%;
  padding: 8px;
  box-shadow: 0px 0px 11px 2px #0000004f;
  height: 70%;
  text-align: center;
  cursor: pointer;
  display: none;
  bottom: 20px;
  transition: all 0.6s ease;
}

.hotspot_content01 img {
  width: 100%;
  padding: 9px;
}

.hotspot_content01 h3 {
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  line-height: 2;
}

.hotspot_content01 span {
  font-size: 15px;
  color: #9b7536;
  font-weight: 600;
}

.hotspot_content01 p {
  font-size: 12px;
  font-weight: 400;
  color: #767676;
  line-height: 1.77;
}

.hotspot_content01 a {
  padding: 12px 12px 12px 12px;
  border-radius: 32px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: rgb(244, 165, 28);
}

.hotspot_btn01 {
  position: absolute;
  top: 84%;
  left: 48%;
  cursor: pointer;
  transition: all 0.6s ease;
}

.hotspot_btn01::before {
  content: "";
  position: absolute;
  height: 20px;
  border-radius: 100%;
  width: 20px;
  bottom: 50px;
  right: 30px;
  background: #9b7536;
}

.hotspot_btn01::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: -40px;
  left: -44px;
  background: white;
}

.hotspot_btn01:hover + .hotspot_content {
  display: block;
  left: 30%;
  top: 5%;
  cursor: pointer;
  transition: all 0.6s ease;
}

.home_delivery::before {
  content: "1.";
  position: absolute;
  color: #f4a51c;
  left: -32px;
  top: -13px;
  font-weight: 500;
  font-size: 60px;
}

.order-as::before {
  content: "2.";
  position: absolute;
  color: #f4a51c;
  left: -45px;
  top: -12px;
  font-weight: 500;
  font-size: 60px;
}

.high-quality::before {
  content: "3.";
  position: absolute;
  color: #f4a51c;
  left: -45px;
  top: -12px;
  font-weight: 500;
  font-size: 60px;
}

.buy-with-joy::before {
  content: "4.";
  position: absolute;
  color: #f4a51c;
  left: -45px;
  top: -12px;
  font-weight: 500;
  font-size: 60px;
}

ul.tabs-custom-navs {
  width: 80%;
}

ul.tabs-custom-navs li a {
  font-weight: 500;
}

ul.tabs-custom-navs li a:hover {
  color: #f4a531;
}

.hotspot_btn02 {
  position: absolute;
  top: 40%;
  left: 14%;
  cursor: pointer;
  transition: all 0.6s ease;
}

.hotspot_btn02::before {
  content: "";
  position: absolute;
  height: 20px;
  border-radius: 100%;
  width: 20px;
  top: 57px;
  left: 19px;
  background: #9b7536;
}

.hotspot_btn02::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 63px;
  left: 25px;
  background: white;
}

.hotspot_btn02:hover + .hotspot_content02 {
  display: block;
  transition: all 0.6s ease;
  cursor: pointer;
  z-index: 9999999;
}

.hotspot_content02 {
  position: absolute;
  top: -27%;
  left: 3%;
  background-color: white;
  width: 29%;
  padding: 8px;
  box-shadow: 0px 0px 11px 2px #0000004f;
  height: 70%;
  text-align: center;
  cursor: pointer;
  display: none;
  bottom: 20px;
  transition: all 0.6s ease;
}

.hotspot_content02 img {
  width: 100%;
  padding: 9px;
}

.hotspot_content02 h3 {
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  line-height: 2;
}

.hotspot_content02 span {
  font-size: 15px;
  color: #9b7536;
  font-weight: 600;
}

.hotspot_content02 p {
  font-size: 12px;
  font-weight: 400;
  color: #767676;
  line-height: 1.77;
}

.hotspot_content02 a {
  padding: 12px 12px 12px 12px;
  border-radius: 32px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: rgb(244, 165, 28);
}

.hotspot_btn03 {
  position: absolute;
  top: 42%;
  left: 46.5%;
  cursor: pointer;
  transition: all 0.6s ease;
}

.hotspot_btn03::before {
  content: "";
  position: absolute;
  height: 20px;
  border-radius: 100%;
  width: 20px;
  top: 57px;
  left: 19px;
  background: #9b7536;
}

.hotspot_btn03::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 63px;
  left: 25px;
  background: white;
}

.hotspot_btn03:hover + .hotspot_content03 {
  display: block;
  transition: all 0.6s ease;
  cursor: pointer;
  z-index: 9999999;
}

.hotspot_content03 {
  position: absolute;
  top: -26%;
  left: 35%;
  background-color: white;
  width: 29%;
  padding: 8px;
  box-shadow: 0px 0px 11px 2px #0000004f;
  height: 70%;
  text-align: center;
  cursor: pointer;
  display: none;
  bottom: 20px;
  transition: all 0.6s ease;
}

.hotspot_content03 img {
  width: 100%;
  padding: 9px;
}

.hotspot_content03 h3 {
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  line-height: 2;
}

.hotspot_content03 span {
  font-size: 15px;
  color: #9b7536;
  font-weight: 600;
}

.hotspot_content03 p {
  font-size: 12px;
  font-weight: 400;
  color: #767676;
  line-height: 1.77;
}

.hotspot_content03 a {
  padding: 12px 12px 12px 12px;
  border-radius: 32px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: rgb(244, 165, 28);
}

.hotspot_btn04 {
  position: absolute;
  top: 47%;
  right: 17%;
  cursor: pointer;
  transition: all 0.6s ease;
}

.hotspot_btn04::before {
  content: "";
  position: absolute;
  height: 20px;
  border-radius: 100%;
  width: 20px;
  top: 57px;
  left: 19px;
  background: #9b7536;
}

.hotspot_btn04::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 63px;
  left: 25px;
  background: white;
}

.hotspot_btn04:hover + .hotspot_content04 {
  display: block;
  transition: all 0.6s ease;
  cursor: pointer;
  z-index: 9999999;
}

.hotspot_content04 {
  position: absolute;
  top: -18%;
  right: 0%;
  background-color: white;
  width: 29%;
  padding: 8px;
  box-shadow: 0px 0px 11px 2px #0000004f;
  height: 70%;
  text-align: center;
  cursor: pointer;
  display: none;
  bottom: 20px;
  transition: all 0.6s ease;
}

.hotspot_content04 img {
  width: 100%;
  padding: 9px;
}

.hotspot_content04 h3 {
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  line-height: 2;
}

.hotspot_content04 span {
  font-size: 15px;
  color: #9b7536;
  font-weight: 600;
}

.hotspot_content04 p {
  font-size: 12px;
  font-weight: 400;
  color: #767676;
  line-height: 1.77;
}

.hotspot_content04 a {
  padding: 12px 12px 12px 12px;
  border-radius: 32px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: rgb(244, 165, 28);
}

.garden_banner_img img {
  width: 100%;
  transition: all 0.6s ease;
}

.garden_banner_img img:hover {
  transform: scale(1.1);
}

.garden_banner_img01 img {
  width: 100%;
  transition: all 0.6s ease;
}

.garden_banner_img01 img:hover {
  transform: scale(1.1);
}

.garden_banner_img {
  position: relative;
  overflow: hidden;
}

.garden_banner_img01 {
  position: relative;
  overflow: hidden;
}

.garden_banner_txt {
  position: absolute;
  top: 0;
  color: white;
  padding: 40px;
}

.garden_banner_txt p {
  color: #9b7536;
}

.garden_banner_txt a {
  color: white;
  margin-top: 10px;
  transition: all 0.6s ease;
}

.garden_banner_txt a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 87px;
  bottom: 40px;
  background: grey;
  transition: all 0.6s ease;
}

.garden_banner_txt a:hover:before {
  background: white;
}

.pro__brand img {
  width: 100%;
}

.pro__brand button.slick-prev.slick-arrow {
  position: absolute;
  background: transparent;
  left: -60px;
  top: 30%;
  transition: all 0.6s ease;
}

.pro__brand button.slick-next.slick-arrow {
  position: absolute;
  background: transparent;
  right: 0;
  top: 40%;
  transition: all 0.6s ease;
}

.pro__brand button.slick-prev.slick-arrow:before {
  position: absolute;
  content: "\f053";
  font-family: "FontAwesome";
  left: 15px;
  top: 30px;
  transition: all 0.6s ease;
  color: black;
  visibility: hidden;
  font-size: 40px;
}

.pro__brand button.slick-next.slick-arrow:before {
  position: absolute;
  content: "\f054";
  font-family: "FontAwesome";
  left: 46px;
  top: 10px;
  font-size: 40px;
  color: black;
  visibility: hidden;
  transition: all 0.6s ease;
}

.pro__brand:hover button.slick-next.slick-arrow:before {
  left: 12px;
  visibility: visible;
}

.pro__brand:hover button.slick-prev.slick-arrow:before {
  left: 45px;
  visibility: visible;
}

.product_brand {
  background-color: #f7f7f7;
  padding: 40px;
}

section.product_brand:before {
  content: "";
  position: absolute;
  width: 90%;
  left: 65px;
  height: 1px;
  background: #80808042;
}

.wrapper_banner {
  overflow: hidden;
  margin: 0px 0px 20px 0px;
}

.wrapper_banner img {
  width: 100%;
  transition: all 0.6s ease;
}

.wrapper_banner img:hover {
  transform: scale(1.1);
}

.wrapper_txt {
  position: absolute;
  color: white;
  top: 0;
  padding: 80px 0px 40px 50px;
}

.wrapper_txt h6 {
  font-size: 26px;
  color: #9b7536;
}

.wrapper_txt h3 {
  font-size: 35px;
  padding: 5px 0px 5px 0px;
}

.wrapper_txt p {
  font-size: 20px;
}

.wrapper_txt a {
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.wrapper_txt a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 80px;
  bottom: 37px;
  left: 48px;
  transition: all 0.6s ease;
  background: rgb(163, 161, 161);
}

.wrapper_txt a:hover:before {
  background: white;
}

.wrapper_content_banner {
  overflow: hidden;
}

section.wrapper_special {
  padding: 70px;
}

.our-blog {
  padding: 40px 0px 20px 0px;
}

.our-blog h3 {
  font-size: 30px;
  position: relative;
  font-weight: 600;
  padding: 10px 0px 24px 0px;
}

.our-blog h3::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #dddddd;
  bottom: 12px;
}

.our-blog h3::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 148px;
  background: #9b7536;
  left: 0px;
  top: 56px;
}

.card_img a {
  color: white;
  background: #9b7536;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 36%;
  top: 45%;
}

.card_title {
  position: relative;
  box-shadow: 0px 5px 14px #0000004d;
  text-align: center;
}

.card_details a {
  padding: 0px 0px 20px 0px;
}

.post_date {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  background: white;
  top: 10px;
  left: 10px;
  padding: 5px 15px;
}

.card_img img {
  width: 100%;
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.card_img img:hover {
  transform: scale(1.1);
}

.card_img {
  overflow: hidden;
}

.card_title h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding: 30px 38px 0px 38px;
}

.meta_autor span img {
  width: 17px;
  margin: 0px 8px 0px 8px;
}

.meta_autor {
  display: flex;
  position: absolute;
  top: 65%;
  align-items: center;
  left: 0px;
  padding: 10px 70px;
  justify-content: space-between;
}

.meta_autor span {
  font-size: 14px;
  margin-left: 0px;
  color: #9d9d9d;
}

.meta_autor img.avatar {
  width: 18px;
  margin: 0px 8px 0px 8px;
  border-radius: 100%;
}

span.count {
  padding: 0 !important;
  position: absolute;
  top: 15%;
  right: 29%;
  font-size: 11px;
  background: #a19f9f;
  color: white;
  width: 16px;
  border-radius: 100%;
}

.meta_autor span i {
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}

.card_details p {
  font-size: 13px;
  padding: 40px 25px 0px 25px;
  font-weight: 500;
  color: grey;
  line-height: 1.766;
}

.blog-cards {
  padding: 20px 0px 20px 0px;
}

.card_details a {
  color: #9b7536;
  font-size: 13px;
  font-weight: 500;
}

.post_date span:nth-child(1) {
  font-size: 22px;
  font-weight: 500;
}

.post_date span:nth-child(2) {
  font-size: 11px;
  font-weight: 500;
}

.blogs-slider .slick-track {
  height: 520px;
}
.blogs-slider button.slick-prev.slick-arrow {
  position: absolute;
  background: transparent;
  left: -15px;
  top: 50%;
  transition: all 0.6s ease;
}

.blogs-slider button.slick-prev.slick-arrow:before {
  position: absolute;
  content: "\f053";
  font-family: "FontAwesome";
  left: -15px;
  top: 10px;
  color: black;
  visibility: hidden;
  font-size: 30px;
  transition: all 0.6s ease;
}

.blogs-slider button.slick-next.slick-arrow {
  position: absolute;
  background: transparent;
  right: 0;
  top: 50%;
  transition: all 0.6s ease;
}

.blogs-slider button.slick-next.slick-arrow:before {
  position: absolute;
  content: "\f054";
  font-family: "FontAwesome";
  left: 30px;
  transition: all 0.6s ease;
  top: 9px;
  color: black;
  font-size: 30px;
  visibility: hidden;
}

.blogs-slider:hover button.slick-next.slick-arrow:before {
  visibility: visible;
  left: 12px;
}

.blogs-slider:hover button.slick-prev.slick-arrow:before {
  visibility: visible;
  left: 0px;
}

.our_pricing {
  text-align: center;
  padding: 30px;
}

.our_pricing h6 {
  color: #8f692a;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.our_pricing h1 {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 38px;
}

.basic_credit {
  border: 1px solid #f5f5f5;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 20px;
  margin: 0px 0px 20px 0px;
  box-shadow: 0 0 17px #00000040;
  transition: all 0.3s ease;
}

.basic_credit h2 {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.basic_credit p {
  font-size: 17px;
  font-weight: 500;
}

.basic_credit span {
  font-size: 46px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.basic_credit ul li i {
  font-size: 27px;
  padding: 12px 10px 12px 0px;
  color: #8f692a;
}

.choose__plan a {
  border: 1px solid #8f692a;
  background: #8f692a;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 12px 5px 12px;
}

.choose__plan {
  display: flex;
  justify-content: center;
  padding: 20px 10px 0px 10px;
}

.basic_credit:hover {
  transform: scale(1.03);
  background: #000000;
  color: #fff;
}

.choose__plan a {
  border: 1px solid #8f692a;
  background: #8f692a;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 12px 5px 12px;
}

.choose__plan {
  display: flex;
  justify-content: center;
  padding: 20px 10px 0px 10px;
}

section.credits {
  padding: 25px 0px 25px 0px;
}

.free_shipping {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  color: white;
}

.free_shipping span {
  font-size: 45px;
  color: #c3800e;
}

.facilities {
  background: #000000;
  padding: 25px;
}

.free_shipping_txt {
  border-right: 1px solid #282828;
}

.free_shipping_txt h4 {
  padding-right: 65px;
}

.footer_links {
  padding: 50px 0px 50px 0px;
  background: #000000;
  position: relative;
}

.our_categories h4 {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}

.our_categories ul li a {
  color: #969696;
  margin: 6px 0px 6px 0px;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.our_categories ul li a:hover {
  color: #fff;
}

.available h4 {
  color: #d7d6d6;
  font-size: 15px;
}

.available_app {
  padding: 20px 0px 20px 0px;
}

.available p {
  color: #d7d6d6;
  font-size: 14px;
  font-weight: 500;
}

.available span {
  color: #9b7536;
}

.Sign__up input[type="email"] {
  padding: 0 15px;
  max-width: 100%;
  width: 70%;
  height: 45px;
  box-shadow: none;
  vertical-align: middle;
  border: none;
  font-size: 14px;
  color: inherit;
  border-width: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  background-color: #ffffff;
  transition: border-color 0.5s ease;
}

.Sign__up {
  display: flex;
  justify-content: space-evenly;
}
.Sign__up input:focus {
  outline: none;
}

.Sign__up a {
  color: #fff;
  display: flex;
  align-items: center;
  background: rgb(244, 165, 28);
  border-radius: 20px;
  font-size: 13px;
  padding: 2px 25px 0px 25px;
  border: 1px solid rgb(244, 165, 28);
  transition: all .6s ease;
}

.Sign__up a:hover {
  color: rgb(244, 165, 28);
  background: transparent;
}

.free_shipping_txt h4 {
  font-size: 15px;
  font-weight: 500;
}

.free_shipping_txt h4 {
  font-size: 15px;
  font-weight: 500;
}

.free_shipping_txt P {
  font-size: 12px;
  color: #bfbaba;
}

.footer_links::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  background: #2a2a2a;
}

.payment_schedule {
  background: #000000;
  color: #fff;
  padding: 25px;
  position: relative;
}

.payments h4 {
  font-size: 16px;
  padding: 0px 0px 15px 0px;
}

.shippings h4 {
  font-size: 16px;
  padding: 0px 0px 15px 0px;
}

.our_social h4 {
  font-size: 16px;
  padding: 0px 0px 15px 0px;
  margin: 0;
}

.payment_schedule::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #1a1a1a;
  top: -12px;
  left: 0;
}

.footer_copyright {
  text-align: center;
  color: #ffffffcc;
  font-size: 14px;
  font-weight: 500;
  padding: 14px 0px 0px 0px;
}

.min_footer {
  background: #000000;
  position: relative;
}

.min_footer::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: #1a1a1a;
  top: 0;
}

.furniture h3 {
  font-size: 22px;
  position: relative;
  font-weight: 600;
  padding: 10px 0px 24px 72px;
}

.furniture h3::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 90%;
  background: #dddddd;
  bottom: 12px;
}

.furniture h3::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 257px;
  background: #9b7536;
  left: 72px;
  top: 47px;
}

section.furniture {
  background-color: #f7f7f7;
  padding: 15px 0px 15px 0px;
}

.social_links ul li a {
  color: white;
  font-size: 24px;
}

.social_links ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

.social_links ul li a:hover {
  color: #8f692a;
}